* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.wrap {
  background-color: #b20000;
  color: #fff;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  transition: 1s;
}

.intro {
  width: 100%;
  height: 100vh;
  padding: 0px 20px;
  box-sizing: border-box;
  background-color: #b20000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 200px;
  line-height: 0.8;
  font-weight: 900;
}
.word {
  display: flex;
}
.word .small {
  font-weight: 300;
  font-size: 100px;
  letter-spacing: -5px;
}

.searchWrap {
  border: 5px solid #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
}
#user {
  background-color: #b20000;
  border: none;
  display: block;
  width: 90%;
  height: 70px;
  color: #fff;
  font-size: 40px;
}
#user::placeholder {
  color: #fff;
}
#searchBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btnWrap {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  font-style: italic;
  box-sizing: border-box;
}
.btnWrap li {
  cursor: pointer;
}

/*list*/
.list {
  display: none;
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  background-color: #b20000;
}
/*movieList*/
#movieBoard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 90vh;
  overflow-y: auto;
  margin: 20px 0px;
}
#movieBoard::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.movie {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: calc(100% / 5 - 8px);
  color: #fff;
  cursor: pointer;
}

.movie .imgWrap {
  position: relative;
  margin-bottom: 5px;
}
.movie .imgWrap::after {
  content: "";
  width: 70%;
  height: 100%;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
}
.movie .imgWrap img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.movie .num {
  position: absolute;
  z-index: 5;
  color: #2f0000;
  left: 5px;
  bottom: 0;
  font-size: 80px;
  font-weight: 900;
  font-family: "Paperlogy";
}

#bottomBtn {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  width: 100%;
}
#bottomBtn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}
#bottomBtn #home {
  font-size: 24px;
}
#bottomBtn .right {
  display: flex;
  align-items: center;
}
#pageNum {
  font-size: 50px;
  font-weight: bold;
  width: 100px;
  text-align: center;
}
/*detail*/
#detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  display: none;
}
#detail.on {
  display: block;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: #bf0000; /* 시안의 강렬한 레드 */
  display: flex;
  color: #fff;
}

.textBox {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 20px;
}

#detailTitle {
  font-size: 160px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 20px;
  letter-spacing: -3px;
  word-break: keep-all;
}

.pointWrap {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}
.pointWrap img {
  width: 60px;
}
#detailPoint {
  font-size: 4rem;
}

/* 줄거리 */
#detailOverview {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: right;
  word-break: keep-all;
  max-width: 40%;
  align-self: flex-end;

  max-height: 30vh;
  overflow-y: auto;
}
#detailOverview::-webkit-scrollbar {
  display: none;
}

/* 오른쪽 */
.imgBox {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #fff; /* 중간 세로선 */
}

#detail .btnWrap {
  height: 100px;
  display: flex;
  border-bottom: 2px solid #fff;
}

.btnWrap button {
  flex: 1;
  background: #a60000;
  border: none;
  border-right: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnWrap button:last-child {
  border-right: none;
}
.btnWrap button:hover {
  background: #d90000;
}
.btnWrap button img {
  height: 30px;
}

/* 포스터 영역 */
.posterWrap {
  flex: 1;
  background: #000;
  position: relative;
  overflow: hidden;
}

#detailPoster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
